<div style="text-align:center">
     <nav class="navbar navbar-dark bg-dark">
  <form class="form-inline">
    
        <input class="form-control mr-sm-2"  type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
     
  </form>
  </nav>
    </div>
<nav class="col-md-2 d-md-black bg-dark sidebar">

  <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav item" *ngFor="let restaurant of restaurants">
          <p> {{ restaurant?.name }} </p>
          <p> {{ restaurant?.address }} </p>
          <p> {{ restaurant?.description }} </p>
          <p> {{ restaurant?.rating }} </p>
          <p> {{ restaurant?.customerReview }} </p>
        </li>

      </ul>

  </div>
</nav>
